@import "tailwindcss";

body {
  background-color: #0C2C55;
  margin: 0;
  
}

@keyframes shine {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}

/* idle (pelan & subtle) */
.animate-shine-slow {
  animation: shine 6s linear infinite;
}

/* hover (lebih cepat & jelas) */
.animate-shine-fast {
  animation: shine 2s linear infinite;
}

